<!DOCTYPE html>

<!--created December 3, 2014 by Christian Seremetis-->
<!--this is used to view and update existing reviews-->
<html>
    <head>
        <title>Recent Reviews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
            <div class="container">
                <div class="row">
                    <p class="navbar-text navbar-left">
                        <a href="/" class="navbar-link">Home</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="ExistingReviews" class="navbar-link">See Existing Reviews</a>
                    </p>
                    <p class="navbar-text navbar-left">
                        <a href="CreateReview" class="navbar-link">Review A New Item</a>
                    </p>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <!--<div class="col-md text-centered">-->
                     <h2 class="viewed_reviews">
                        <%if @product==nil%>
                            <p>The Product you searched does not exist. Please reword your search and try again</p>
                            <img src="http://a.dilcdn.com/bl/wp-content/uploads/sites/8/babyzone/2013/04/baby-boy-crying-photo-420x420-ts-56570356.jpg" id="baby">
                            <form class="input" action="/Defer" method="POST">
                                <input type="submit" value="or CLICK HERE to create a new review" id="updateButton">
                            </form>           
                        <%else%>
                            <!--used to allow the user to click a button on the existing reviews list and view it in the ReviewTemplate-->

                            <div class="review_label" id="existing">
                                <h1><%=@product.productName.upcase%></h1>
                            </div>
                            <div class="col-xs-2">
                                <img src="photos/happy5.png" class="img-circle">
                                <br>
                                <%=@product.face1%>
                            </div>
                            <div class="col-xs-2">
                                <img src="photos/happy3.png" class="img-circle">
                                <br>
                                <%=@product.face2%>
                            </div> 
                            <div class="col-xs-2">
                                <img src="photos/happy6.png" class="img-circle">
                                <br>
                                <%=@product.face3%>
                            </div>  
                            <div class="col-xs-2">
                                <img src="photos/happy1.png" class="img-circle">
                                <br>
                                <%=@product.face4%>
                            </div>              
                            <div class="col-xs-2">
                                <img src="photos/happy4.png" class="img-circle">
                                <br>
                                <%=@product.face5%>
                            </div>
                            <div class="col-xs-2">
                                <img src="photos/happy2.png" class="img-circle">
                                <br>
                                <%=@product.face6%>
                            </div>
                            <div class="row">
                                <a href="CreateReview">
                                    <button class="btn btn-default">
                                        <h3>Review this item</h3>
                                    </button>
                                </a>
                            </div>  
                        <%end%>
                    </h2>
                <!--</div>-->
            </div>
        </div>  
    </body>
</html>






